span {
	width: 40px important;
}
.a {
	color: white !important;
	width: 40px important;
}
.b span{
	padding: 10px;
	color: #101;
	font-weight: bold;
	float: left;
	width: 40px important;
}
.c span{
	-moz-box-shadow: 2px 2px 2px #badbad;
	-webkit-box-shadow: 2px 2px 2px #badbad;
	box-shadow: 2px 2px 2px #badbad;
}
#clock {
	position: fixed;
	top: 15%;
	margin-left: 30%;
	text-align: right;
}