<!DOCTYPE html>
<html>
	<head>
		<title>
			Time in Words
		</title>
		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script type="text/javascript" src="media/js/anjsClock.js"></script>
		<link rel="stylesheet" href="media/css/anjsClock.css">
	</head>
	<body bgcolor="#000000">
		<div ng-app="clockApp" ng-controller="clockClass" id="clock">
			{{demo_text}}
			<div ng-repeat="eachRow in matrix">
				<span class='b' ng-repeat="eachColumn in eachRow">
					<span class="lighted-{{eachColumn.lighted}}">
						{{eachColumn.value}}
					</span>
				</span>
			</div>
		</div>
	</body>
</html>